* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 300vh;
}

header {
    position: relative;
    height: 80vh;
    background-image: url(city.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

header h1 {
    position: absolute;
    width: 100vw;
    padding: 10px 0;
    bottom: 50px;
    left 0;
    font-size: 80px;
    font-family: arial;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}
section {
    margin: 100px auto 0;
    width: 80vw;
    font-family: verdana;
    line-height: 1.9rem;
    text-align: justify
}